*{ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a:link{
    color: rgb(249, 132, 189); /*enlace no visitado*/
}

a:visited{
color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(38, 2, 34);
}

body{
    background-color: beige; 
}

p{
    text-align: center;
    justify-content: space-around;
    font-family: 'Critter';
}

h2{
text-align: center;
font-style: oblique;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
border: black solid;
}
/*Header*/

header{
    background-color: #d6005d;
    width: 100%;
    clear: both;
    content: "";
    display: table;
}

.menu{
    width: 100%;
    margin: 0;
}

.menu img{
    width: 5%;
    display: flex;
    justify-items: left;
    float: left;
    padding: 8px;
    position: fixed;
}

.navprincipal{
    clear: both;
    width:100%;
    position: fixed;
    border:6px;
}

.navprincipal ul{
    list-style: none;
    display: flex;
    padding: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;   
}

.navprincipal ul li{
list-style: none;
display: inline-block;
padding: 12px;
background-color: #d6005d6e;
}

.navprincipal ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
}

.navprincipal ul li a:hover{
    color:rgb(0, 0, 0);
}

.navprincipal ul{
    float: right;
    margin-right: 5%;
}

h1{
    background-color:  bisque; 
    text-align: center;
    font-style: oblique;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

h2{
    text-align: center;
    padding:20px;
    background-color: #ec9e97;
}

h3{
    background-color: bisque;
    width: 100%;
    color: black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

/*******************        Peliculas         *****************/


.peliculas{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenedorPeliculas{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    width: 100%;
}
.peliculas article{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.peliculas img{ 
    width: 200px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s linear;
}

.peliculas img:hover{
    transform: scale(1.1);
}


.peliculas article p{
    font-size: small;
    text-align: center;
    margin-top: 10px;
}
/*************************     Actores  *************************/
.actores {
    background-color: black;
    width: 100%;

}

.actores p, h4{
color: white;
}

.contenedorActores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.actores img{ 
    width: 90%;
    height: 50%;
    border-radius: 50%;
}

/*************** Festivales *******************/
.contenedorFestivaliSeries{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 255, 160);
}

aside img{
    width: 99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/******************* Series ************/
.Series{
    width: 100%;
}
.ContenedorSeries{
    display: flex;
    flex-wrap: wrap;  
    align-content: center;
    justify-items: center;
    width: 100%;
}

.Series img{
    width: 200px;
    height: 300px;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s linear;
}

.Series img:hover{
    transform: scale(1.1);
}

.Series article{
    width: 32%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(204, 127, 96);
}

.Series article p{
    font-size: small;
    margin-top: 10px;
    text-align: center;
}

/******************* Lo más visto ******************/

.lomasvisto{
    background-color: rgb(197, 39, 0);
}

.Contenedorlomasvisto{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Contenedorlomasvisto ol{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.Contenedorlomasvisto ol li{
    list-style: none;
}

.Contenedorlomasvisto ol li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.Contenedorlomasvisto img{
    width: 70px;
    padding: 8px;
}

.Contenedorlomasvisto p, h4{
    color: white;
    margin: 0;
    padding: 0;
}


/******************* footer **************/

footer{
    display: flex;
    justify-content:space-around;
    width: 100%;
    font-size: small;
    align-items: first baseline;
    background-color: salmon;
}
.iconoRedSocial{
    display: flex;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}
.icon {
    margin: 10px;
    transition: 0,05s;
    display: inline-block;
}
.icon:hover{
    transform: translateY(-10px);
}